{% extends 'accounts/layout.html' %}
{% load static %}


{% block body %}
<div class="grid-25">
    <h3>Change Password Rules</h3>
    <p>
    NOTE: The list under 'New password:' does not apply. I wasn't able to remove them.
    Instead follow the guidelines below.
    <hr>

        <li>Must not be the same as the current password.</li>
        <li>Minimum password length of 14 characters.</li>
        <li>Must use of both uppercase and lowercase letters.</li>
        <li>Must include one or more numerical digits.</li>
        <li>Must include one or more of special characters, such as @, #, $.</li>
        <li>Cannot contain the user name or parts of the user’s full name, such as their first name.</li>
    </p>
</div>
<div class="grid-75">
    <h1>Change Password</h1>
    <form method="POST">
        {% csrf_token %}
        {{ change_password_form.as_p }}
        <input type="submit" class="button-primary" value="Update">
    </form>
</div>
{% endblock %}