{% extends 'accounts/layout.html' %}

{% block body %}
    <div class="grid-25">
        Check out the code for this site and all the other projects I've made
        for the Treehouse Python Web Development Techdegree.
        <br><br>
        <a href="https://github.com/erikburmeister" target="_blank">My Github Page</a>

    </div>
    <div class="grid-75">
        <h1>Welcome to my Project #7!</h1>
        <p>
            This project is all about the spicing up the user's profile/account page. <br>
            The account page should include your average bits of information. <br>
            Such as:
        </p>
            <li>first and last name</li>
            <li>email</li>
            <li>date of birth</li>
            <li>bio</li>
            <li>avatar (profile image)</li>
        <br>
        <hr>
        <p>The extra credit features include: </p>
            <li>Extra bits of information like favorite hobby, favorite animal, etc...</li>
            <li>Dropdown calendar when selecting your date of birth. </li>
            <li>Basic text editor for the biography field </li>
            <li>Basic image manipulator for the avatar.</li>
            <li>Password strength meter when changing to a new password.</li>

        <hr>
        <p>Feel free to look around. Create a user or log in with these credentials.<br>
        Username: TestUser<br>
        Password: Testing321
        </p>

    </div>
{% endblock %}
